:root {
  --ligt-blue: rgb(244, 244, 255);
  --dark-grey: rgb(80, 80, 80);
  --light-grey: rgb(216, 216, 216);
  --medium-grey: rgb(139, 139, 139);
  --yellow: rgb(219, 217, 63);
  --green: rgb(100, 199, 90);
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--dark-grey);
}

body {
  background-color: var(--ligt-blue);
  text-align: center;
}

#title {
  letter-spacing: 5px;
}

#header-line {
  width: 450px;
  border: 0.5px solid var(--light-grey);
}

#word {
  letter-spacing: 2px;
  font-weight: 400;
}

#grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 400px;
  padding: 20px;
  border: 2px solid var(--light-grey);
  border-radius: 10px;
}

.row {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.inputformat {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-grey);
  border: 2px solid var(--medium-grey);
  border-radius: 5px;
  outline: none;
}

.inputformat:focus {
  border: 2px solid var(--dark-grey);
  outline: none;
}

#submit {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--ligt-blue);
  background-color: var(--medium-grey);
  border: 2px solid var(--medium-grey);
  letter-spacing: 1.5px;
  border-radius: 5px;
  cursor: pointer;
}
